<span class="govuk-caption-xl">{{labels.caption}}</span>
<h1 class="govuk-heading-xl">'{{labels.scheduledFor}} {{formattedBriefDateWithTimeWithTimezone banner.validFrom}}' {{labels.hasBeenDeleted}}</h1>

<p id="updated-message" class="govuk-body">'{{labels.scheduledFor}} {{formattedBriefDateWithTimeWithTimezone banner.validFrom}}' {{labels.homepageBannerHasBeenDeleted}}</p>
<p id="settings-message" class="govuk-body">{{labels.goTo}} <a class="govuk-link" id="settings-link" href="/homepage">{{labels.settings}}</a>.</p>
