<h1 class="govuk-heading-xl" id="page-not-found-title">{{labels.heading}}</h1>

<p class="govuk-body" id="check-typed-correctly">{{labels.checkTypedCorrectly}}</p>
<p class="govuk-body" id="check-copied-correctly">{{labels.checkCopiedCorrectly}}</p>
<p class="govuk-body" id="contact-helpline">{{labels.contactHelpLine}}</p>

<h2 class="govuk-heading-l" id="helpline-title">{{labels.helpline}}</h2>
<p class="govuk-body" id="helpline-telephone">
  {{labels.helplineTelephone}}<br/>
  {{labels.helplineAvailability}}
</p>
